@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/JSAjaxFileUploader/JQuery.JSAjaxFileUploader.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/JSAjaxFileUploader/JQuery.JSAjaxFileUploaderMultiple.js"></script>
    <style type="text/css">
        #tb table{
            border-collapse: collapse;              
            width: 600px;         
        }

        #tb td {
            text-align: center;
            padding-top: 5px;
            width: 25%;
        }

        #tb tr {
            background-color: #E3E3E3;
            line-height: 35px;
        }

        .showImg {
            width: 50px;
            height: 50px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //隐藏显示图片的表格
            $('#tbl').hide();

            $('#testId').JSAjaxFileUploader({
                uploadUrl: '@Url.Action("UplpadMultipleFiles","Home")',
                inputText: '选择多个上传文件',
                fileName: 'photo',
                maxFileSize: 512000,	//Max 500 KB file 1kb=1024字节
                allowExt: 'gif|jpg|jpeg|png',
                zoomPreview: false,
                zoomWidth: 360,
                zoomHeight: 360,
                success: function (data) {
                    $('#tbl').show();
                    createTableTr(data.path, data.name);
                },
                error: function (data) {
                    alert("出错了~~");
                }
            });

            //点击行上的删除链接
            $('#tb').on("click", ".delImg", function () {
                var $link = $(this);
                $.ajax({
                    cache: false,
                    url: '@Url.Action("DeleteFileByName", "Home")',
                    type: "POST",
                    data: { name: $link.parent().prev().find('.imgName').text() },
                    success: function (data) {
                        if (data.msg) {
                            //alert("图片删除成功");
                            $link.parent().parent().remove();
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("出错了 '" + jqXhr.status + "' (状态: '" + textStatus + "', 错误为: '" + errorThrown + "')");
                    }
                });
            });
        });


        //创建表格
        function createTableTr(img, imgName) {
            var table = $('#tbl');
            table.append("<tr><td><img class='showImg' src='" + img + "'/></td><td colspan='2'><span class='imgName'>" + imgName + "</span></td><td><a class='delImg' href='javascript:void(0)'>删除</a></td></tr>");
        }
    </script>
</head>
<body>
    <div id="testId"></div>
    
    <div id="tb">
        <table id="tbl">
            <tbody>              
            </tbody>
        </table>
    </div>

</body>
</html>
